textarea {
    min-height: 400px;
}

.emailbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 120px;
}
.read{
    background-color: rgb(223, 223, 223);
}
#singleemail{
    width: 1000px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
#singleemail div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}